html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding:0;
}

.container-fluid {
    background-color: white;
    margin:0;
    width:100%;
}

.row
{
margin-right: 0px;
}

#home {
    background-image: url("../img/background.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -15px;
     margin-right: -15px;

}

h1,
.navbar-brand,
.navbar-nav a {
    font-family: 'Cinzel', serif!important;
    font-weight: bold;
    font-size:24px;
}


#title {
    z-index:2;
    position:absolute;
    font-size: 44px;
    color: white;
    text-align: center;
    top:350px;
    left:550px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.test {
    color: white;
    font-size: 44px;
}