html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: grey;
}

.menu {
    background-color: white;
    height:50px;
}

.menu-item {
    margin: auto;
    text-align: center;
    z-index:1;
    
}

.menu-item:hover {
    color:white;
    cursor: pointer;
}

#myVideo {
    position: inherit;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
}

#title {
    z-index:2;
    position:absolute;
    font-size: 44px;
    color: white;
    text-align: center;
    top:350px;
    left:550px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.test {
    color: white;
    font-size: 44px;
}